---
import CategoriesLayout from '../layouts/CategoriesLayout.astro'
---

<CategoriesLayout>
  <header>
    <h2>Camisetas</h2>
  </header>
  
  <article>
    <div class="data-container">

      <div class="product-container">
        <picture class="product-img">
          <img src="HomerDomido.jpeg" alt="product-image">
        </picture>
        <div class="info-container">
          <span>Product name</span>
          <span>Producy Price</span>
        </div>
      </div>

      <div class="product-container">
        <picture class="product-img">
          <img src="HomerDomido.jpeg" alt="product-image">
        </picture>
        <div class="info-container">
          <span>Product name</span>
          <span>Producy Price</span>
        </div>
      </div>

      <div class="product-container">
        <picture class="product-img">
          <img src="HomerDomido.jpeg" alt="product-image">
        </picture>
        <div class="info-container">
          <span>Product name</span>
          <span>Producy Price</span>
        </div>
      </div>

      <div class="product-container">
        <picture class="product-img">
          <img src="HomerDomido.jpeg" alt="product-image">
        </picture>
        <div class="info-container">
          <span>Product name</span>
          <span>Producy Price</span>
        </div>
      </div>
      
    </div>


  </article>
</CategoriesLayout>

<style>
  article {
    margin: 15px;
    padding: 5px;
  }

  header {
    text-align: center;
  }

  .data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    justify-items: center;
  }

  .product-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgba(42, 42, 42, 0.819);
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
  }

  .product-img {
      max-width: 70%;
      margin: 0  auto;
      & img {
        max-width: 100%;
        height: 400px;
      }
  }

  .info-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }
</style>