---

---
<div class="categories-container">
  <ul>
    <li>
      <a href="/camisetas">Camisetas</a>
    </li>
    <li>
      <a href="/">Pantalones</a>
    </li>
    <li>
      <a href="/">Zapatos</a>
    </li>
  </ul>
</div>

<style>

  .categories-container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px;
  }

  ul {
    width: 100%;
    padding: 0;
    margin-inline: 15px;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: grey;
  }
  
</style>