---

---

<article class="products-container">
  <div class="product-container">
    <h3>Producto 1</h3>
    <img src="" alt="Imagen-producto">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non animi minus blanditiis enim suscipit repudiandae accusantium odit, ducimus iste aliquam?</p>
  </div>
  <div class="product-container">
    <h3>Producto 2</h3>
    <img src="" alt="Imagen-producto">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non animi minus blanditiis enim suscipit repudiandae accusantium odit, ducimus iste aliquam?</p>
  </div>
  <div class="product-container">
    <h3>Producto 3</h3>
    <img src="" alt="Imagen-producto">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non animi minus blanditiis enim suscipit repudiandae accusantium odit, ducimus iste aliquam?</p>
  </div>
</article>

<style>

  .products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
  }

  h3 {
    color: azure;
  }

  p {
    color: whitesmoke;
  }
</style>