---
import Layout from './Layout.astro'
---
<Layout title='Categorias'>
  <main>
    <header>
      <h1>Welcome to new commerce</h1>
    </header>

    <section class="nav-section">
      <h2>Categorias</h2>

      <nav class="nav-container">
        <ul>
          <li>
            <a href="/">Todos los productos</a>
          </li>
          <li>
            <a href="/camisetas">Camisetas</a>
          </li>
          <li>
            <a href="/pantalones">Pantalones</a>
          </li>
          <li>
            <a href="/zapatos">Zapatos</a>
          </li>
        </ul>
      </nav>
    </section>

    <section>
      <slot />
    </section>

    <footer>
      Footer de la web
    </footer>
  </main>

</Layout>

<style is:global>
  main {
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
  }

  h2 {
      font-size: 2rem;
      margin-bottom: 35px;
    }

  .nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-container {
    min-width: 75%;
    margin: 15px;
    
    & ul {
      padding: 0;
      display: flex;
      justify-content: space-around;
      list-style: none;

      & li {
        text-align: center;
      }
    }

    & a {
      color: white;
      text-decoration: none;
      line-height: 1em;
      font-size: 1.1rem;
      font-weight: 500;
    }

  }

  footer {
    margin-top: auto;
    text-align: center;
    background-color: rgba(42, 42, 42, 0.819);
    padding-block: 20px;
  }

</style>

